:root {
    --primary-color: #EE4D2D;
    --black-color: #000;
    --white-color:#fff; 
    --text-color:#333;
    --border-color:#bdbdbd;
    --gold-color:#ffce3d;
    /*height  */
    --height-header: 120px;
    --height-header-navbar: 42px;
    --height-with-search: calc(var(--height-header) - var(--height-header-navbar));
    --height-header-sort: 46px;
    /* width */
   
    --width-search-big: 100%;
   
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* font-size: 1.2rem; */
}
/* 
résponsive */


/* font */
.font-size {
    font-size: 1.2rem;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-400 {
    font-weight: 400;
}

/* thuộc tính flex giúp khối nằm hàng ngang
   và tự đẩy xuống dòng khi cần thiết */
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-10-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
} 

.width-full {
    width: 100%;
}

.width-half {
    width: 50%;
    display: inline-block;
    margin: 0 4px;
}

.height-half {
    height: 50%;
    
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
       transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }  
}

/* Modal - Layout */
.modal {
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    animation: fadeIn linear 0.1s;
    

}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --grow-from: 0.7;
    --grow-to: 1;
    width: 500px;
    position: relative;
    z-index: 1;
    margin: auto;
    animation: grow linear 0.1s;
}
        /* INNER */
.modal__inner {

}

.orange-a {
    text-decoration: none;
    color: orangered;
}

/* btn */
.btn {
    min-width: 124px;
    height: 34px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    outline: none;
    color: var(--text-color);
    background-color: #fff;
    display: inline-flex`;
    justify-content: center;
    align-items: center;
    line-height: 1.4rem;
    }

.btn:hover {
    background-color: #f5f4f4;
} 

.btn-size-s {
    height: 28px;
    font-size: 1.0rem;
    padding: 0 48px 0 8px;

}

.btn-size-s:hover {
    opacity: 0.8;
    color: var(--white-color);
    background-color: #036de4;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--dissible {
    color: #949494;
    background-color: #c3c3c3;
    cursor: default;
}

.btn.btn--with-icon {
    text-decoration: none;
    
}

.list__info-name-silver {
    color: #bdbdbd;
    font-size: 0.8rem;
}

/* RESPONSIVE */

/* Taplet */
/* width >= 740px and <1024px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    
}

/* Mobile */